{
  "name": "Cloudflare Automation Survey",
  "spec": [
    {
      "question_name": "Domain",
      "variable": "domain",
      "type": "text",
      "choices": {{ domain_choices | to_json }},
      "required": true,
      "min": 1,
      "max": 128
    },
    {
      "question_name": "Record Name",
      "variable": "selected_record_name",
      "type": "text",
      "choices": {{ record_choices | to_json }},
      "required": false,
      "min": 0,
      "max": 128
    },
    {
      "question_name": "Action",
      "variable": "cf_action",
      "type": "multiplechoice",
      "choices": {{ cf_action_choices | to_json }},
      "required": true
    },
    {
      "question_name": "Page Rule Selection",
      "variable": "page_rule_selection",
      "type": "multiplechoice",
      "choices": {{ page_rules_list | to_json }},
      "required": false
    }
  ]
}
